@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-yellow : #FFD770;
  --primary-dark : rgba (255,255,255,0);
  --primary-red : #ef4035;
  --primary-hover-red :#f33501;
}

body{
  font-family: "Roboto Condensed", sans-serif;
}

/* ==========Logo========= */
nav{
  z-index: 2;
}

.logo{
  width: 4;
}
/* ========== NAVBAR =========== */
nav a.nav-link{
  font-size: .8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:var(--primary-white) !important ;
  border-bottom: 0.1875rem solid var(--primary-dark) ;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 3rem !important; 
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active :focus{
  border-bottom: 0.1875rem solid var(--primary-yellow);
}
.navbar-nav > li > a:hover{
  border-bottom: 0.1875rem solid var(--primary-yellow);
}

/* ========== HEADER =========== */
.header-wrapper{
  position: relative;
  background: url(bg1.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  /* filter: brightness(80%); */
}
.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1{
  color:var(--primary-white);
  text-transform: uppercase;
}
/* =========== typed text ============== */
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}
@media (max-width : 768px){
  .main-info h1{
    font-size: 1.5rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}

/* =========== HEADER MAIN OFFER BUTTON ============== */
.btn-main-offer{
  border: 1px solid var(--primary-white);
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px black ;
  border-bottom: 2px black;
  border-top: 2px black;
  shape-margin: 2px;
  padding: 10px 12px 12px 12px;
  color: #000;
  margin: 2rem;
  text-align: center;
  font: bold;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-yellow);
  color : var(--primary-white);
  transition: .2s ease-in-out;
}


/* =========== PARTICLES ============ */
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width : 768px){
  .particles-canvas{
    display: none;
  }
}